<!-- templates/base/header.html -->
{% load static %}

<!-- templates/base/header.html -->
<div class="header">
    <div class="logo">
        <a href="{% url 'home' %}">
            <h1>NinerCreations</h1>
        </a>
    </div>
    <!-- header.html -->
    <div class="search-bar">
        <form action="{% url 'search' %}" method="get">
            <input type="text" name="q" placeholder="Search" value="{{ request.GET.q|default:'' }}">
            <button type="submit">&#128269;</button> <!-- Search icon as button -->
        </form>
    </div>

    <div class="header-right">
        <a href="{% url 'login' %}" class="login-btn">Login</a>
        <div class="profile-container">
            <div class="profile-picture">
                <img src="{% static 'images/profile-placeholder.png' %}" alt="Profile Picture">
            </div>
            <div class="dropdown">
                <button class="dropdown-btn">▼</button>
                <div class="dropdown-content">
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'settings' %}">Settings</a>
                </div>
            </div>
        </div>
    </div>
</div>

