{% extends "base/base.html" %}

{% block content %}
<div class="profile-page-container">
    <h1>{{ user.username }}'s Profile</h1>
    <p><strong>Name:</strong> {{ user.get_full_name }}</p> <!-- Full name if both first and last are set -->
    
    <h2>Created Rooms</h2>
    {% if recent_rooms %}
        <ul>
            {% for room in recent_rooms %}
                <li>
                    <a class ="profile-tags" style="color: #1A3D31; text-decoration: none;" href="{% url 'post_detail' room.id %}">
                    <h3>{{ room.title }}</h3>
                    </a>
                    <p>{{ room.content }}</p>
                    <small>Created on {{ room.created_at|date:"M d, Y" }}</small>  
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No rooms created yet.</p>
    {% endif %}

    <h2>Recent Activities</h2>
    {% if recent_activities %}
        <div>
        <ul>
            {% for activity in recent_activities %}
                <li>
                    {% if activity.activity_type == "Post" %}
                    <a style="color: #1A3D31; text-decoration: none;" href="{% url 'post_detail' activity.id %}">
                        Post: {{ activity.title }}
                    </a>
                    {% elif activity.activity_type == "Comment" %}
                    <a style="color: #1A3D31; text-decoration: none;" href="{% url 'post_detail' activity.post.id %}">
                        Comment: {{ activity.content }}
                    </a>
                    {% endif %}
                        {{ activity.created_at|date:"M d, Y H:i" }}
                    
                </li>
            {% endfor %}
        </ul>
        </div>
    {% else %}
        <p>No recent activities.</p>
    {% endif %}
</div>
{% endblock %}
