{% extends "base/base.html" %}

{% block content %}
<div class="profile-page-container">
    <h1>{{ user.username }}'s Profile</h1>
    <p style="font-size: larger;"><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>

    <h2>Recent Rooms</h2>
    <div class="recent-rooms">
        {% if recent_rooms %}
            <ul>
            {% for room in recent_rooms %}
                <li>
                    <h3>{{ room.title }}</h3>
                    <p>{{ room.content }}</p>
                    <small>Created on {{ room.created_at|date:"M d, Y" }}</small>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No rooms created yet.</p>
        {% endif %}
    </div>

    <h2>Recent Activities</h2>
    <div class="recent-activities">
        {% if recent_activities %}
            <ul>
            {% for activity in recent_activities %}
                <li>
                    {% if activity.activity_type == "Post" %}
                        <strong>Post: {{ activity.title }}</strong>
                    {% elif activity.activity_type == "Comment" %}
                        <strong>Comment: {{ activity.content|truncatewords:10 }}</strong>
                    {% endif %}
                    <div>
                        {{ activity.created_at|date:"M d, Y H:i" }}
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No recent activities.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
