{% extends "base/base.html" %}

{% block content %}
<div class="profile-page-container">
    <h1>{{ profile_user.username }}'s Profile</h1>
<p><strong>Name:</strong> {{ profile_user.get_full_name }}</p>

<h2>Created Rooms</h2>
{% if recent_rooms %}
    <ul>
        {% for room in recent_rooms %}
            <li>
                <a href="{% url 'post_detail' room.id %}">
                    <h3>{{ room.title }}</h3>
                </a>
                <p>{{ room.content }}</p>
                <small>Created on {{ room.created_at|date:"M d, Y" }}</small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No rooms created yet.</p>
{% endif %}

    <h2>Recent Activities</h2>
    {% if recent_activities %}
        <div>
        <ul>
            {% for activity in recent_activities %}
                <li>
                    {% if activity.activity_type == "Post" %}
                    <a style="color: #1A3D31; text-decoration: none;" href="{% url 'post_detail' activity.id %}">
                        Post: {{ activity.title }}
                    </a>
                    {% elif activity.activity_type == "Comment" %}
                    <a style="color: #1A3D31; text-decoration: none;" href="{% url 'post_detail' activity.post.id %}">
                        Comment: {{ activity.content }}
                    </a>
                    {% endif %}
                        {{ activity.created_at|date:"M d, Y H:i" }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        </div>
    {% else %}
        <p>No recent activities.</p>
    {% endif %}
    <!-- end activities and rooms -->
    <hr style="color:#1A3D31;">
    <h2 style="margin-bottom: 15px; margin-top: 15px; ">Completed Projects</h2>
    {% if projects %}
        <ul>
            {% for project in projects %}
                <li style="display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between; position: relative;">
                    <h3 style="font-size: 20px; font-weight: bold; color:#1A3D31; margin-bottom: 10px;">{{ project.name }}</h3>
                    <p style="font-size: 16px; text-align: left; margin-bottom: 10px;">{{ project.description }}</p>
                    <a href="{{ project.github_link }}" target="_blank" style="text-decoration: none; font-size: 16px;"><b>View Project Here</b></a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No projects added yet.</p>
    {% endif %}
</div>
{% endblock %}
